// Just the Class dependencies
@import 'card';

// Just the Class styles
@import 'announcement';
@import 'module';
@import 'schedule';
@import 'staffer';

// Overrides
code {
  font-size: 14px;
  padding: 0.2em 0.4em;
  border: none;
}

iframe {
  max-width: 100%;
}

details {
  @extend .mb-4;
}

summary {
  @extend .btn, .btn-outline;

  width: 100%;
}

.main-content-wrap {
  max-width: $content-width;
  margin: auto;
}

.main-content {
  dl {
    display: block;
    grid-template-columns: none;
  }

  dt {
    font-weight: 700;
    text-align: start;

    &::after {
      content: normal;
    }
  }

  dd {
    font-weight: normal;

    + dt {
      margin-top: 1em;
    }
  }
}


div.highlighter-rouge div.highlight {
  background: #f1f5f4;
  // border-left: 4px solid #27806f;
  // border-radius: 4px;
  border: 0;
  overflow-x: auto;
  padding: 1rem 1.25rem;
}

.highlighter-rouge .highlight pre {
  background: transparent;
  margin: 0;
}

.highlighter-rouge .highlight code {
  background: transparent;
  border: 0;
  padding: 0;
}

.highlighter-rouge .highlight .k,
.highlighter-rouge .highlight .kd {
  color: #1769aa;
  font-weight: 700;
}

.highlighter-rouge .highlight .s {
  color: #a34b26;
}

.highlighter-rouge .highlight .c,
.highlighter-rouge .highlight .c1 {
  color: #64736e;
  font-style: italic;
}